body {
  margin: 0;
  padding: 0;

}

nav {
  background: lightblue;
  margin: 0;
padding: 10px;
}

.Title {
  color: blue;
  margin: 0;
  float: left;
  padding: 11px 500px 0px 30px;
  font-size: 30px;
  font-family: "Arial"
}

nav ul {
  display:inline
}

nav ul li {
list-style: none;

}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 0px 30px;
  color: white;
  font-size: 20px;


}
