body {
  margin: 0;
  padding: 0;
 background: white;
}

nav {
margin: 0;
padding: 10px;
z-index: 1;
position: fixed;
color: white;
background: white;
opacity: 0.9;
}

.Title {
  color: blue;
  margin: 0;
  float: left;
  padding: 11px 400px 0px 30px;
  font-size: 35px;
  font-family: "Comic Sans MS"
}

nav ul {
  margin: 0px 300.3px;

 display:inline

}

nav ul li {
list-style: none;
color: black
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 0px 30px;
  font-size: 20px;
  font-family: sans-serif;
}

.Sub-Title h1 {
  color: white;
  z-index: 1;
  position : absolute;
  margin: 250px 600px 0px 100px;
  font-size: 70px;
  font-family: 'Droid Sans', arial, serif;


}

.BG {
  z-index: -1;

  position : relative;
}
