body {
  margin: 0;
  padding: 0;
 background: lavender;
}

nav {
  background: lightblue;
  margin: 0;
padding: 10px;

}

.Title {
  color: blue;
  margin: 0;
  float: left;
  padding: 11px 400px 0px 30px;
  font-size: 35px;
  font-family: "Comic Sans MS"
}

nav ul {
  display:inline
}

nav ul li {
list-style: none;

}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 0px 30px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

.Sub-Title h1 {
  color: white;
  z-index: 1;
  position : absolute;
  margin: 500px 600px 0px 100px;
  font-size: 70px;
  font-family: 'Droid Sans', arial, serif;


}

.BG {
  z-index: -1;

  position : relative;
}
